* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* HEADER */



.part-one {
    background-color: hsl(0, 0, 75%);
    margin-bottom: -5rem;
}

.container {
    padding: 0 2rem 0 4rem;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1350px;
}


nav {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-left {
    flex-grow: 1;
    flex-shrink: 1;
}

nav ul li {
    margin: 0 1rem;
}

nav a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: hsl(252, 3%, 62%);
}

nav a:hover {
    color: hsl(240, 1%, 55%);
}

nav h4 {
    padding-left: .5rem;
    font-size: 28px;
    margin-right: 1rem;
    color: hsl(260, 8%, 23%);
}

nav button {
    font-size: 16px;
    padding: .5rem 1.4rem;
}

button {
    background-color: hsl(180, 66%, 49%);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    border: 0;
    border-radius: 30px;
    padding: .85rem 2.1rem;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}

.hamburger {
    display: none;
    position: absolute;
    top: -.4rem;
    right: 0rem;
    font-size: 2.5rem;
}

.title-content {

    position: relative;
    margin: 5.5rem 0;
    display: flex;
}

.title-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 550px;
    z-index: 2;
}

.title-content-left h1 {
    font-size: 4.25rem;
    line-height: 1.2;
    color: hsl(260, 8%, 23%);
}

.title-content-left h3 {
    font-weight: 500;
    color: hsl(240, 1%, 65%);
    line-height: 1.6;
    font-size: 20px;
}

.title-content img {
    position: relative;
    width: 100%;
    z-index: -1;
    overflow: visible;
}

.title-content button {
    margin-top: 2rem;
}


/* SECTION-TWO */



.section-one {
    position: relative;
    background-color: hsl(257, 27%, 26%);
    background-image: url("./images/bg-shorten-desktop.svg");
    background-size: cover;
    padding: 3.0rem 2rem;
    border-radius: 10px;
}


.section-two {
    position: relative;
    display: flex;
    justify-content: center;
}

#shorten-input {
    border-radius: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 200px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 1rem 1rem 1rem 2rem;
    border: 0;
    margin-right: 1.5rem;
    outline: none;
}

.section-two button {
    border-radius: 10px;
    flex-shrink: 1;
}



.part-two {
    background-color: hsl(230, 25%, 95%);
    padding-top: 6rem;
}

.main-content {
    margin-top: 5rem;
    margin-bottom: 11rem;
}

.main-content-text {
    text-align: center;
    max-width: 32rem;
    margin: 0 auto;
}

.main-content h1 {
    color: hsl(260, 8%, 23%);
}

.main-content h3 {
    margin-top: .4rem;
    color: hsl(240, 1%, 65%);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
}

.main-grid {
    position: relative;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}


.main-grid::before {
    position: absolute;
    top: 44%;
    transform: translateY(-44%);
    background-color: hsl(180, 66%, 49%);
    content: "";
    width: 100%;
    height: 10px;
}

.main-grid .card {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 4.5rem 1.75rem 2rem 1.75rem;
}

.main-grid .card:first-child {
    top: -2.5rem;
}

.main-grid .card:last-child {
    bottom: -2.5rem;
}


.card h2 {
    color: hsl(260, 8%, 23%);
}

.card p {
    margin-top: 1rem;
    color: hsl(240, 1%, 60%);
    font-weight: 500;
}


.circle {
    position: absolute;
    top: -3.5rem;
    width: 80px;
    height: 80px;
    background-color: hsl(257, 27%, 26%);
    border-radius: 50%;
}

.circle-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-boost {
    padding: 3.25rem 0;
    color: #ffffff;
    background-color: hsl(257, 27%, 26%);
    background-image: url("./images/bg-boost-desktop.svg");
    text-align: center;
}



/* FOOTER */

.content-boost button {
    margin-top: 1.25rem;
}


footer {
    padding-top: 2rem;
    padding-bottom: .25rem;
    background-color: #3a3740;
    color: white;
}


footer .footer-grid {
    display: grid;
    grid-template-columns: 32% 1fr 1fr 1fr 20%;
    margin-bottom: 2rem;
}


.grid-item {
    display: flex;
    align-items: baseline;
}

.grid-item h4 {
    font-size: 14px;
}

.grid-item h4.logo {
    margin: 0;
    padding: 0;
    font-size: 28px;

}

.grid-item ul {
    display: flex;
    justify-content: flex-start;
}

.grid-item ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    font-size: 15px;
}

.grid-item ul li a:hover {
    color: hsl(180, 66%, 49%);
}

.grid-item .social-media {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.grid-item .social-media ul li a:hover {
    color: hsl(180, 66%, 49%) !important;
}


.social-media {
    display: flex;
    flex-direction: row;
}


footer .grid-item ul {
    margin-top: .6rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

footer .grid-item ul li:first-child {
    margin-bottom: .4rem;
}



/* RESPONSIVENESS */

@media (max-width: 800px) {
    .container {
        padding: 0 1.25rem;
    }

    .main-grid {
        grid-gap: .75rem;
    }

    .main-grid .card {
        padding: 4.5rem 1.25rem 2rem 1.25rem;
    }

    footer .footer-grid {
        grid-template-columns: 25% 1fr 1fr 1fr 22%;
    }

    nav {
        position: relative;
    }

    nav h4 {
        padding: 0;
    }

    nav .nav-left ul li {
        margin: 0 .75rem;
    }

    nav .nav-right ul li {
        margin: 0 .5rem;
    }

    .nav-left,
    .nav-right {
        display: none;
    }

    nav .logo {
        font-size: 32px;
    }

    .title-content {
        margin: 2rem 0;
        flex-direction: column;
    }

    .title-content img {
        order: 1;
        width: 130%;
        margin-left: .5rem;
    }

    .title-content-left {
        order: 2;
        min-width: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .title-content h1 {
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    .title-content h3 {
        margin-top: .5rem;
        font-size: 18px;
    }

    .title-content button {
        margin-top: 1.5rem;
    }

    .section-one {
        padding: 1.5rem;
    }

    .section-one.alert-div {
        padding: 1.5rem 1.5rem .5rem;
    }


    .section-two {
        justify-content: center;
        flex-direction: column;

    }

    .section-two button {
        border-radius: 10px;
        flex-shrink: 1;
    }


    #shorten-input {
        margin: 0 0 1rem;
        padding: .75rem 1rem;
    }



    .main-grid {
        margin-top: 3.5rem;
        grid-template-columns: 1fr;
    }

    .main-content {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .main-content h1 {
        font-size: 1.75rem;
    }

    .main-content h3 {
        font-size: 16px;
    }

    .circle {
        left: 50%;
        transform: translateX(-50%);
    }

    .main-grid .card {
        text-align: center;
        position: relative;
        background-color: white;
        padding: 4rem 1.75rem 2rem 1.75rem;
        margin-bottom: 5rem;
    }

    .main-grid .card:first-child {
        top: 0;
    }

    .main-grid .card:last-child {
        bottom: 0;
        margin-bottom: 0;
    }

    .card h2 {
        font-size: 1.45rem;
    }

    .card p {
        font-size: 14px;
        font-weight: 500;
    }

    .main-grid::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        content: "";
        width: 10px;
        height: 80%;
    }

    .content-boost h1 {
        font-size: 1.5rem;
    }

    .content-boost button {
        margin-top: 1.25rem;
        padding: .75rem 2.1rem;
    }

    footer {
        padding-bottom: .75rem;
    }

    footer .footer-grid {
        margin-bottom: .0;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 1fr 1fr 1fr 15%;
    }

    .grid-item {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    footer .grid-item:first-child {
        margin-bottom: 1rem;
    }

    footer .grid-item ul {
        margin-top: 0;
        justify-content: center;
        align-items: center;
    }

    footer .grid-item ul li:first-child {
        margin-bottom: .5rem;
    }

    footer .grid-item:last-child ul li:first-child {
        margin-bottom: 0;
    }

    .grid-item .social-media {
        justify-content: center;
    }

    .social-media li a {
        margin: 0 .75rem;
    }

    .hamburger {
        display: block;
    }

}